<div class="container col-xs-10 col-xs-offset-1 col-md-8 col-lg-8 col-lg-offset-2">
    <div class="card row">

        <h2>Welcome</h2>

        <div class="well panel-body row">

            <div class="col-xs-6 col-sm-6">
                <img src="img/robot.png" alt="" class="profil-img img-thumbnail img-circle img-responsive">
            </div>

            <div class="col-xs-6 col-sm-6">
                <h2><%= profile.prenom %></h2>
                <h2><%= profile.nom %></h2>
            </div>

            <div class="col-xs-12 col-sm-8">
                <div class="tag-section">
                    <p>
                        <span class="custom-label label-info tags"><%= profile.question1answer %></span>
                        <span class="custom-label label-info tags"><%= profile.question2answer %></span>
                        <span class="custom-label label-info tags"><%= profile.question3answer %></span>
                        <span class="custom-label label-info tags"><%= profile.question4answer %></span>
                        <span class="custom-label label-info tags"><%= profile.question5answer %></span>
                        <span class="custom-label label-info tags"><%= profile.question6answer %></span>
                        <span class="custom-label label-info tags"><%= profile.question7answer %></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-custom btn-lg btn-block">Find people</button>

</div>