<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BackboneTutorials.com Beginner Video</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
</head>
<body>


<div class="container">
    <div class="page"></div>
</div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

<script type="text/template" id="welcome-template">
            <div><a class="btn" href="#/hello">Hello</a></div>
            <div><a class="btn" href="#/profile">Hello2</a></div>
</script>

<script type="text/template" id="profile-template">
    <div>HELLO</div>
    <div><%= profile ? 'Update' : 'Create' %></div>
    <div><%= profile.nom %></div>
</script>

<script type="text/template" id="login-template">
    <div class="container">
        <header>
            <h1 class="text-center">Roover</h1>
            <h4 class="text-center">Startup weekend Québec</h4>
        </header>
        <div id="loginModal" class="lower-section container">
            <div class="vertical-center">
                <div class="container col-md-4">
                    <h2 class="text-center">Login</h2>

                    <form class="row form col-md-12 center-block">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" href="#profile">Meet people</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    function htmlEncode(value){
        return $('<div/>').text(value).html();
    }
    $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    var Profile = Backbone.Model.extend({
        urlRoot: 'http://localhost:8082/'
    });

    var LoginView = Backbone.View.extend({
        el: '.page',

        render: function() {
            var that = this;
            var template = _.template($('#login-template').html(), {});
            that.$el.html(template);
        }
    });

    var WelcomeView = Backbone.View.extend({
        el: '.page',
        render: function () {
            var that = this;
            var template = _.template($('#welcome-template').html());
            that.$el.html(template);
        }
    });

    var ProfileView = Backbone.View.extend({
        el: '.page',
        render: function (options) {
            var that = this;
            if(options.name) {
                console.log(" Success options.id");
                that.profile = new Profile({id: options.name});
                that.profile.fetch({
                    success: function (profile) {
                        console.log(profile);
                        var template = _.template($('#profile-template').html(), {profile: profile.attributes.user});
                        that.$el.html(template);
                    }
                })
            }else {
                console.log("no options.id");
                var profile = new Profile({name: "bob"});
                var template = _.template($('#profile-template').html(), {profile: profile});
                that.$el.html(template);
            }
        }
    });
    var welcomeView = new WelcomeView();
    var loginView = new LoginView();
    var profileView = new ProfileView();

    var Router = Backbone.Router.extend({
        routes: {
            "": "home",
            "hello" : "showLogin",
            "profile": "showProfile",
        }
    });
    var router = new Router;
    router.on('route:showLogin', function () {
        console.log("Has been routed to loginView");
        loginView.render();
    });
    router.on('route:showProfile', function() {
        console.log("Has been routed to showProfile");
        console.log(name);
        profileView.render({name: "bob"});
    })
    router.on('route:home', function() {
        welcomeView.render();
    })
    Backbone.history.start();
</script>


</body>
</html> 