<div class="container">
    <header>
        <h1 class="text-center">Roover</h1>
        <h4 class="text-center">Startup weekend Québec</h4>
    </header>
    <div id="loginModal" class="lower-section container">
        <div class="vertical-center">
            <div class="container col-md-4">
                <h2 class="text-center">Login</h2>

                <form class="row form col-md-12 center-block">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" href="#profile/bob">Meet people</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>